my-search {
	float: right;
	color: #fff;
	span {
		font-size: 115%;
	}
	.open-search {
		line-height: 36px;
		margin-right: 10px;
		cursor: pointer;
	}
	.form-control.search-field {
		color: #fff;
		background: 0 0;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, .7);
		box-shadow: none;
		outline: none;
		z-index: 1;
		&::-webkit-input-placeholder {
			color: #fff;
		}
	}
	.app-addon {
		border: none;
		border-radius: 0;
		background: none;
		font-weight: 500;
		color: #fff;
		border-bottom: 1px solid rgba(255, 255, 255, .7);
		span {
			cursor: pointer;
		}
	}
	.search-animate {
		width: 100%;
	}

	.search-animate.ng-hide-remove.ng-hide-remove-active {
		transition: all linear 0.4s;
	}
	.search-animate.ng-hide {
		width: 0;
	}
	.icon-animate.ng-hide-remove.ng-hide-remove-active {
		transition: all linear 0.1s 0.4s;
	}
	.icon-animate.ng-hide {
		font-size: 0;
	}
}
