<div class="championship-card">
	<div class="header-card">
		<div class="main-header" ng-if="!teamCard">
			<img class="flogo" ng-src="{{imageChampionshipUrl + championship.image}}" title="{{championship.name}}"
					alt="{{championship.title}}" />
			<span class="title" ng-show="!active">{{championship.name}}</span>
			<my-search input-value="$parent.name" active="active"
					ng-class="{'search-width': active}"></my-search>
			<div class="actions" ng-show="!active">
				<span ng-click="sort()" class="glyphicon hover" ng-class="{'glyphicon-sort': !sortField,
					'glyphicon-arrow-up': reverse, 'glyphicon-arrow-down': !reverse}" aria-hidden="true"></span>
			</div>
		</div>
		<div class="team-header" ng-if="teamCard">
			<span class="glyphicon glyphicon-chevron-left button-back" ng-click="goBack()"></span>
			<span class="title">{{team.name}}</span>
		</div>
	</div>
	<div class="body-card">
		<div class="teams animate-select-team" ng-if="!teamCard">
			<div class="team animate qwe" ng-if="team.name !== ''"
					ng-click="selectTeam(team)" ng-class="{'no-info': team.foundation_year == 0}"
					ng-repeat="team in teams | filter:name:strict | orderBy:sortField:reverse track by $index">
				<div class="img-wrapper">
					<img class="flogo" ng-if="team.emblema" alt="{{team.name}}"
							ng-src="{{imageTeamUrl + team.emblema}}" />
					<span>{{team.name}}</span>
				</div>
			</div>
		</div>
		<div class="team-info animate-select-team" ng-if="teamCard">
			<img ng-src="{{imageTeamUrl + team.emblema}}" alt="{{team.name}}" />
			<table class="table table-condensed">
				<tr ng-repeat="item in infoList">
					<td class="header">{{item.title}}</td>
					<td class="inform">{{team[item.name]}}</td>
				</tr>
			</table>
			<my-slider-text ng-if="team.parsedTitle[0]" titles="team.parsedTitle"></my-slider-text>
		</div>
	</div>
</div>