body {
	background: #EEEEEE;
	font-family: 'Helvetica';
}

.container-fluid {
	margin: 30px 45px 0 45px;
	.card-col {
		margin-bottom: 30px;
	}
}

@media (max-width: 970px) {
	.container-fluid {
		margin: 15px 0 0 0;
	}
}